# Use postgres/example user/password credentials

# POSTGRES_PASSWORD: ${DB_PASSWORD}
# 			POSTGRES_USER: ${DB_USER}
# 			POSTGRES_DB: ${DB_NAME}
# 		healthcheck:
# 			test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
# 			interval: 10s
# 				timeout: 5s
# 				retries: 5
# 		volumes:
# 		db-data:/var/lib/postgresql/data

services:

  db:
    image: postgres
    # restart: always
    # set shared memory limit when using docker compose
    # shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
